body {
	background-color: #38556a;
}

/* FONTS */

@font-face {
  font-family: ExoL;
  src: url(../fonts/ExoL.ttf);
  }

h3,h4,h5,p,a {
	font-family: ExoL;
	color: white;
}

.collapse {
	font-family: ExoL;
	font-size: 14px;
}

h4 {
	text-align: center;
}

/* FONTS */

/* MENU */

ul > li {
	padding: 14px 0px 0px 20px;
	color: white;
}

/* MENU */

/* UI */

button {
	background: none;
	border: 1px solid #00f6ff;
	padding: 12px 38px;
	color: white;
	display: block;
  margin: 0 auto;
}

.t-btn {
	margin: 0;
}

/* UI */

.top-img {
	background: url(../image/bgr.png);
	height: 630px;
}

.top-inf {
	margin-top: 180px;
}

.mt30 {
	margin-top: 30px;
}

.mt80 {
	margin-top: 80px;
}

.mb80 {
	margin-bottom: 80px;
}

.mb45 {
	margin-bottom: 45px;
}

.sale p {
	margin-top: 24px;
}

.mlrt {
	background: url(../image/mlrt.png);
}

.mlrt h3 {
	text-align: center;
}

.crd {
	background-color: #38556a;
	margin-top: 46px;
	position: relative;
	width: 92%;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 34px;
}

.act {
	margin-bottom: 68px;
}

.c-img-gms,.c-img-gms1,.c-img-gms2 {
	background: url(../image/cs-bg.png);
	padding: 10px 15px;
}

.c-img-gms1 {
	background: url(../image/bud-bg.png);
}

.c-img-gms2 {
	background: url(../image/vh-bg.png);
}

.c-text {
	margin: 15px 20px;
}

.c-gms {
	margin-bottom: 80px;
}


.mps {
	background-color: #4c6983;
}

.mp-img {
	height: 225px;
	width: 331px;
}

.mps:hover img {
    opacity: 0.2;
		cursor: zoom-in;
}


.mps h4,.mst h4 {
	color: #00f6ff;
	padding: 12px 0px 6px 0px;
}

.grnds {
	margin-bottom: 60px;
}

.ars .mps {
	background-color: #38556a;
}

.proff {
	margin-bottom: 40px;
}

.proff h5 {
	line-height: 120%;
}

.proff-info {
	padding: 22px 0px;
}

.proff-info p {
	padding: 6px 28px;
}

.slider {
	margin: 60px 0px;
}

.simg {
	margin: 16px 0px 0px 180px;
}

.item-text {
	margin-top: 15px;
	margin-left: 20px;
}

.gm {
	margin-top: 54px;
}

.item-text h4, .item-text p, .contacts h4 {
	text-align: left;
}

.contacts {
	background-color: #38556a;
}

.i-contacts {
	margin: 50px 0px 50px 95px;
}

.i-contacts h4 {
	padding-top: 20px;
}

.social {
	display: flex;
	padding-top: 12px;

}

.social .fa {
	font-size: 20px;
	color: white;
	background-color: #273952;
	padding: 12px;
	width: 46px;
	text-align: center;
}

.sc {
	margin-left: 6px;
}

.modal-header, .modal-body, .modal-footer {
	background-color: #38556a;
	border: none;
}

.zk {
	padding: 8px 24px;
}

input {
	background-color: #4c6983;
	border: none;
	padding: 8px 32px;
	color: white;
	text-align: center;
	margin: 8px 16px;
	outline: none;
}
